/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

.book {
    display: flex; /* Utiliza el modelo de caja flexible para la disposición */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacio entre la imagen y la sección de texto */
    position: relative;
    width: max-content;
    height: max-content;
}

.imgBook {
    width: 200px;
    height: auto;
    transition: all 1s ease-in-out;
}

.book img:hover {
    transform: rotateY(-40deg);
    box-shadow: 28px 0 0 #dfdfdf, 30px 0 0 #c4c4c4;
}

.titleBookT, .titleBookN {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    color: #003366;
}

.btnBook {
    display: block;
    margin: 10px;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #E7FFF9;
    background-color: #003366;
    border: none;
    border-radius: 50px;
    width: 200px;
    transition: all 0.5s ease-in-out;
}

.btnBookNo {
    background: none;
    border: none;
    transition: all 0.5s ease-in-out;
}
.abierto, 
.cerrado {
    position: relative;
    position: absolute;
    left: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #00CC99;
    padding: 25px;
    height: 230px;
    transition: all 1s ease-in-out;
}

.abierto {
    width: 225px;
}

.cerrado {   
    width: 10px;
}

.titleBookN {
    position: absolute;
    font-size: 20px;
    top: 37%;
    left: -70px;
    width: 200px;
    transform: rotate(90deg);
}
