/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

.book {
    display: flex; /* Utiliza el modelo de caja flexible para la disposición */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacio entre la imagen y la sección de texto */
    position: relative;
    width: max-content;
    height: max-content;
}

.imgBook {
    width: 180px;
    height: 281px;
    transition: all 1s ease-in-out;
    transform: rotateY(-40deg);
    box-shadow: 28px 0 0 #dfdfdf, 30px 0 0 #c4c4c4;
}


.titleBookT{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    color: #003366;
}

.btnBook {
    display: block;
    margin: 10px;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #E7FFF9;
    background-color: #003366;
    border: none;
    border-radius: 50px;
    width: 200px;
    transition: all 0.5s ease-in-out;
}

.abierto {
    position: relative;
    position: absolute;
    left: 180px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #00CC99;
    padding: 25px;
    height: 245px;
    top: 9%;
    transition: all 1s ease-in-out;
    width: 250px;
}

.margin {
    margin-top: 100px;
}

@media screen and (max-width: 430px){
    .imgBook {
        width: 160px;
        height: 210px;
        box-shadow: 15px 0 0 #dfdfdf, 17px 0 0 #c4c4c4;
    }
    .abierto {
        width: 170px;
        height: 205px;
        left: 155px;
        top: 1%;
        padding: 25px;
    }
    .titleBookT {
        font-size: larger;
    }
    .btnBook {
        width: 115px;
        font-size: 13px;
        margin: 10px;
    }
}

@media screen and (max-width: 380px){
    .imgBook {
        width: 150px;
        height: 200px;
        box-shadow: 15px 0 0 #dfdfdf, 17px 0 0 #c4c4c4;
    }
    .abierto {
        width: 170px;
        height: 195px;
        left: 145px;
        top: 2%;
        padding: 25px;
    }
    .titleBookT {
        font-size: larger;
    }
    .btnBook {
        width: 110px;
        font-size: 13px;
        margin: 10px;
    }
}

@media screen and (max-width: 320px){
    .imgBook {
        width: 100px;
        height: 150px;
        box-shadow: 15px 0 0 #dfdfdf, 17px 0 0 #c4c4c4;
    }
    .abierto {
        width: 150px;
        height: 145px;
        left: 100px;
        top: 2%;
        padding: 20px;
    }
    .titleBookT {
        font-size: medium;
    }
    .btnBook {
        width: 95px;
        font-size: 10px;
        margin: 5px;
    }
}

