@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

body{
 
    background-color: #E7FFF9;
}

.slider-container{
background-color: #003366;
border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
 }

 .slider-container{
    margin-bottom: 100px;
     }



.amarillo{
    border-radius: 3px;
    margin-top: 90px;
    margin-left: 55px; 
   height: 50px;
   width: 200px;
background-color: #FFCC00;
box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);

}

h1{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #003366;
    border-color: 2px #000000;
}
.slider-nav{
    background-color:#00CC99;
    border-radius: 3px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.5);
    height: 335px;;
}