body{
    background-color: #00CC99;
}

#carouselExampleControlsNoTouching{
    margin-top: 70px;
   background-color: #003366;
   width: 1000px;
   margin-left: 60px;
   display:flex;
   border-radius: 5px;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 
}

.carousel-inner{
   color: #00CC99;
   display:flex;
}

.card{
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #32b998;
    border-style: groove;
   border-color: black;
}
