@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap';
body {
  background-color: #e7fff9;
  font-family: 'Nunito Sans', sans-serif;
}

.centrar-en-medio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 36px;
}
.top {
  position: relative;
}

.rectangulo-nombre {
  width: 450px;
  height: 65px;
  position: relative; 
  top: -46%;
  left: 16.5%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #ffcc00;
  color: #003366;
  text-align: center;
  line-height: 65px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.rectangulo-azul {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -15%;
  z-index: 2;
  width: 900px;
  height: 365px;
  background-color: #003366;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.center {
  height: 40vh;
  font-size: 36px;
}

.imagen {
  position: absolute;
  bottom: 19%;
  width: 180px;
  height: 281px;
  box-shadow: 13px 0 0 #dfdfdf, 15px 0 0 #c4c4c4;
  border-radius: 5px;
  transform: rotateY(-25deg);
}

.imagen:first-child {
  left: -9%;
}
.imagen:nth-child(2) {
  left: 15%;
}
.imagen:nth-child(3) {
  left: 40%;
}
.imagen:nth-child(4) {
  left: 64%;
}
.imagen:nth-child(5) {
  left: 88%;
}

.boton1,
.boton2,
.boton3,
.boton4,
.boton5,
.boton6,
.boton7,
.boton8,
.boton9,
.boton10 {
  top: 81%;
  font-family: 'Nunito Sans', sans-serif;
  bottom: 10px;
  position: absolute;
  background-color: #00cc99;
  color: black;
  width: 80.18px;
  height: 57px;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  font-size: 5.5mm;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.boton1 {
  left: -7.7%;
}
.boton2 {
  left: 0.7%;
}
.boton3 {
  left: 16.29%;
}
.boton4 {
  left: 24.79%;
}
.boton5 {
  left: 41.25%;
}
.boton6 {
  left: 49.8%;
}
.boton7 {
  left: 65.3%;
}
.boton8 {
  left: 73.8%;
}
.boton9 {
  left: 89.3%;
}
.boton10 {
  left: 97.8%;
}
.boton1:hover,
.boton2:hover,
.boton3:hover,
.boton4:hover,
.boton5:hover,
.boton6:hover,
.boton7:hover,
.boton8:hover,
.boton9:hover,
.boton10:hover {
  background-color: rgb(2, 97, 65);
}

/* Responsive */
@media screen and (max-width: 1440px) {
  .rectangulo-azul {
    top: 47%;
  }
}

@media screen and (max-width: 1368px) and (max-height: 1024px) {
  .rectangulo-azul {
    top: 40%;
  }
}

@media screen and (max-width: 1368px) and (max-height: 912px) {
  .rectangulo-azul {
    top: 43%;
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .rectangulo-azul {
    top: 49%;
  }
}

@media screen and (max-width: 1322px) and (max-height: 658px) {
  .rectangulo-azul {
    top: 55%;
  }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
  .rectangulo-azul {
    top: 47%;
  }
}

@media screen and (max-width: 1138px) and (max-height: 712px) {
  .rectangulo-azul {
    top: 52%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .rectangulo-nombre {
    left: 20%;
  }

  .rectangulo-azul {
    top: 32%;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .rectangulo-nombre {
    left: 20%;
    top: 11%;
  }

  .rectangulo-azul {
    top: 60%;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .rectangulo-nombre {
    left: 20%;
  }

  .rectangulo-azul {
    top: 70%;
    width: 80%;
  }
}

@media screen and (max-width: 912px) and (max-height: 1368px) {
  .rectangulo-nombre {
    left: 25%;
  }

  .rectangulo-azul {
    top: 32%;
    width: 80%;
  }
}

@media screen and (max-width: 820px) {
  .rectangulo-nombre {
    left: 30%;
  }

  .rectangulo-azul {
    top: 33%;
    width: 80%;
    height: 320px;
  }

  .imagen {
    width: 130px;
    height: 240px;
  }

  .boton1,
  .boton2,
  .boton3,
  .boton4,
  .boton5,
  .boton6,
  .boton7,
  .boton8,
  .boton9,
  .boton10 {
    width: 75px;
    height: 40px;
    font-size: 3.5mm;
  }
  .boton1 {
    left: -8.2%;
  }
  
  .boton2 {
    left: 1.2%;
  }
  
  .boton3 {
    left: 15.79%;
  }
  
  .boton4 {
    left: 25.29%;
  }
  
  .boton5 {
    left: 40.75%;
  }
  
  .boton6 {
    left: 50.3%;
  }
  
  .boton7 {
    left: 65.8%;
  }
  
  .boton8 {
    left: 75.3%;
  }
  
  .boton9 {
    left: 90.8%;
  }
  
  .boton10 {
    left: 100.3%;
  }
  
  .imagen:first-child {
    left: -9.5%;
  }
  .imagen:nth-child(2) {
    left: 15.5%;
  }
  .imagen:nth-child(3) {
    left: 40.5%;
  }
  .imagen:nth-child(4) {
    left: 64.5%;
  }
  .imagen:nth-child(5) {
    left: 90%;
  }
}

@media screen and (max-width: 800px) and (max-height: 1280px){
  .rectangulo-nombre {
    left: 30%;
  }

  .rectangulo-azul {
    top: 30%;
    width: 80%;
    height: 320px;
  }

  .imagen {
    width: 130px;
    height: 240px;
  }

  .boton1,
  .boton2,
  .boton3,
  .boton4,
  .boton5,
  .boton6,
  .boton7,
  .boton8,
  .boton9,
  .boton10 {
    width: 75px;
    height: 40px;
    font-size: 3.5mm;
  }
  .boton1 {
    left: -8.2%;
  }
  
  .boton2 {
    left: 1.2%;
  }
  
  .boton3 {
    left: 15.79%;
  }
  
  .boton4 {
    left: 25.29%;
  }
  
  .boton5 {
    left: 40.75%;
  }
  
  .boton6 {
    left: 50.3%;
  }
  
  .boton7 {
    left: 65.8%;
  }
  
  .boton8 {
    left: 75.3%;
  }
  
  .boton9 {
    left: 90.8%;
  }
  
  .boton10 {
    left: 100.3%;
  }
  
  .imagen:first-child {
    left: -9.5%;
  }
  .imagen:nth-child(2) {
    left: 15.5%;
  }
  .imagen:nth-child(3) {
    left: 40.5%;
  }
  .imagen:nth-child(4) {
    left: 64.5%;
  }
  .imagen:nth-child(5) {
    left: 90%;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
    .rectangulo-nombre {
        width: 400px;
        top: -30%;
        left: 25%;
    }

  .rectangulo-azul {
    width: 80%;
    height: 320px;
  }

  .imagen {
    width: 130px;
    height: 240px;
  }

  .boton1,
  .boton2,
  .boton3,
  .boton4,
  .boton5,
  .boton6,
  .boton7,
  .boton8,
  .boton9,
  .boton10 {
    width: 75px;
    height: 40px;
    font-size: 3.5mm;
  }
  .boton1 {
    left: -8.2%;
  }
  
  .boton2 {
    left: 1.2%;
  }
  
  .boton3 {
    left: 15.79%;
  }
  
  .boton4 {
    left: 25.29%;
  }
  
  .boton5 {
    left: 40.75%;
  }
  
  .boton6 {
    left: 50.3%;
  }
  
  .boton7 {
    left: 65.8%;
  }
  
  .boton8 {
    left: 75.3%;
  }
  
  .boton9 {
    left: 90.8%;
  }
  
  .boton10 {
    left: 100.3%;
  }
  
  .imagen:first-child {
    left: -9.5%;
  }
  .imagen:nth-child(2) {
    left: 15.5%;
  }
  .imagen:nth-child(3) {
    left: 40.5%;
  }
  .imagen:nth-child(4) {
    left: 64.5%;
  }
  .imagen:nth-child(5) {
    left: 90%;
  }
}
