<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="../css/books.css">
</head>
<body>
    <div id="" class="book">
        <img src="../img/portadas/codigoDaVinci.jpg" alt="" class="imgBook">
        <div class="sectionBook">
            <h1 class="titleBook">El codigo da vinci</h1>
            <button class="btnBook">+ Informacion</button>
            <button class="btnBook">Leer</button>
        </div>
        
    </div>
</body>
</html>