<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="../css/books.css">
</head>
<body>
    <div class="book">
        <img src="../img/portadas/codigoDaVinci.jpg" alt="" class="imgBook">
        <div class="sectionBook cerrado">
            <h1 class="titleBookN titleBook">El codigo da vinci</h1>
            <button class="btnBookNo btnInfo"></button>
            <button class="btnBookNo btnLeer"></button>
        </div>
    </div>

    <script src="../js/book.js"></script>
</body>
</html>