<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="../css/books.css">
</head>
<body>
    
    <div class="book">
        <img src="../img/portadas/codigoDaVinci.jpg" alt="" class="imgBook">
        <div class="sectionBook abierto" title="./pdfs/codigoDaVinci.pdf">
            <h1 class="titleBookN titleBookT">El codigo da vinci</h1>
            <button class="btnBook btnInfo">+ informacion</button>
            <button class="btnBook btnLeer">leer</button>
        </div>
    </div>
</body>
</html>