<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top</title>
    <link rel="stylesheet" href="../css/top.css">
</head>
<body>
    <div class="centrar-en-medio">
        <div class="rectangulo-nombre">Recomendados</div>
    </div>
    <div class="center">
        <div class="rectangulo-azul">
    </div>
    <img src="..img\portadas\Portada 2.jpg" alt="">
    </div>
            
    <!-- Contenido de tu página aquí -->
</body>
</html>