<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top</title>
    <link rel="stylesheet" href="../css/top.css">
</head>
<body>
    <div class="centrar-en-medio">
        <div class="rectangulo-nombre">Recomendados</div>
    </div>
    <div class="center">
        <div class="rectangulo-azul">
            <img class="imagen1" src="..\img\portadas\Portada_2.jpg" alt="Portada">
            <img class="imagen2" src="..\img\portadas\Portada_3.jpg" alt="Portada">
            <img class="imagen3" src="..\img\portadas\Portada_1.png" alt="Portada">
            <img class="imagen4" src="..\img\portadas\Portada_4.jpeg" alt="Portada">
            <img class="imagen5" src="..\img\portadas\Portada_5.jpg" alt="Portada">
            <button class="boton1">Leer</button>
            <button class="boton2">+ Info</button>
            <button class="boton3">Leer</button>
            <button class="boton4">+ Info</button>
            <button class="boton5">Leer</button>
            <button class="boton6">+ Info</button>
            <button class="boton7">Leer</button>
            <button class="boton8">+ Info</button>
            <button class="boton9">Leer</button>
            <button class="boton10">+ Info</button>
        </div>
    </div>
            
    <!-- Contenido de tu página aquí -->
</body>
</html>